
# Monitoring by book777
# Contact http://vk.com/im?sel=81824171


DirectoryIndex index.php

<FilesMatch ".(php)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

<Files index.php>
	Order Allow,Deny
	Allow from all
</Files>